POSTGRES_DB=geoportal
POSTGRES_USER=geoportal_user
POSTGRES_PASSWORD=change_me_db_password

GEOSERVER_ADMIN_USER=admin
GEOSERVER_ADMIN_PASSWORD=change_me_geoserver_password

DOMAIN=geoportal.tudominio.com
